<div class="comments">
    {{#each this}}
    <section class="comment mb-3 pb-3 border-bottom">
        <div class="meta d-flex align-items-center mb-2">
            <i class="bi bi-person-circle me-2"></i> 
            <span>{{user.username}} on {{format_date created_at}}</span>
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>