<div class="card">
  <div class="card-body">
    
    {{> postInfo post}}

    {{#if loggedIn}}
    <form class="mt-4" id="add-comment">
      <div class="form-group mb-4">
        <label for="comment-body" class="h4 font-weight-bold">Add a comment:</label>
        <textarea class="form-control" id="comment-body" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{/if}}

    {{#if post.comments.length}}
        <h4 class="mt-5 mb-3">Comments:</h4>
        {{#if loggedIn}}
          {{> commentsLoggedIn comment=post.comments}}
        {{else}}
          {{> commentsLoggedOut comment=post.comments}}
        {{/if}}
    {{else}}
      <p class="mt-5 mb-0">No comments yet.</p>
    {{/if}}
  </div>
</div>


<script src="../js/comment.js"></script>